$bg: rgb(244, 245, 246);
$bg-light: rgb(255, 255, 255);
$bg-dark: rgb(231, 232, 235);

$white: rgb(255, 255, 255);

$text-primary: rgb(86, 86, 100);
$text-secondary: rgb(243, 243, 245);

$text-muted: rgb(192, 193, 201);

$primary: rgb(60, 110, 246);

$accent: rgb(237, 238, 240);

$accent-secondary: rgb(249, 249, 245);

$default-radius: 12px;
$default-button-radius: 6px;

$default-buttom-font-size: 1rem;
$default-button-padding-block: 0.4rem;
$default-button-padding-inline: 0.6rem;